Repository woowa-techcamp-2022/web-moneybook-6, pull requests merged in 2022-07, with the labels that each got.

#22 feat: :sparkles: 백엔드 api 설정 #21
  backend/.gitignore
  backend/package.json
  backend/src/app.js
  backend/src/router/category.js
  backend/src/router/moneyBook.js
  backend/src/router/paymentMethod.js
Labels: backend

#18 Feature/make statistic page
  frontend/src/.DS_Store
  frontend/src/assets/styles/_colors.scss
  frontend/src/components/DoughnutChart/index.js
  frontend/src/components/DoughnutChart/index.scss
  frontend/src/components/Expenditures/index.js
  frontend/src/components/Expenditures/index.scss
  frontend/src/components/ExpendituresList/index.js
  frontend/src/components/ExpendituresList/index.scss
  frontend/src/components/History/index.js
  frontend/src/components/LineChart/index.js
  frontend/src/components/LineChart/index.scss
  frontend/src/components/LineChartCard/index.js
  frontend/src/components/LineChartCard/index.scss
  frontend/src/components/StatisticsCard/index.js
  frontend/src/components/StatisticsCard/index.scss
  frontend/src/pages/StatisticsPage/index.js
  frontend/src/pages/StatisticsPage/index.scss
Labels: frontend

#26 Feature/observer pattern
  frontend/src/app.js
  frontend/src/components/Header/index.js
  frontend/src/controller/index.js
  frontend/src/store/index.js
  frontend/src/utils/Component.js
Labels: frontend

#31 Feature/moneybookdata processing
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistory/index.scss
  frontend/src/components/AccountHistoryInfo/Index.js
  frontend/src/components/AccountHistoryInfo/index.scss
  frontend/src/components/HistoryInfo/Index.js
  frontend/src/observer/index.js
  frontend/src/pages/MainPage/index.js
  frontend/src/pages/StatisticsPage/index.js
  frontend/src/store/index.js
  frontend/src/utils/dataProcessing.js
Labels: frontend

#35 Feature/api connection
  backend/package.json
  backend/src/app.js
  frontend/src/api/category.js
  frontend/src/components/Dorpdown/index.js
  frontend/src/components/Input/index.js
  frontend/src/store/index.js
Labels: frontend

#37 Feature/money book api connection
  backend/.prettierrc.json
  backend/src/config/db.js
  backend/src/controller/moneyBookController.js
  backend/src/router/moneyBook.js
  backend/src/service/moneyBookService.js
  frontend/src/api/accountHistory.js
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistoryInfo/Index.js
  frontend/src/components/Header/index.js
  frontend/src/store/index.js
  frontend/src/utils/Component.js
  frontend/src/utils/dataProcessing.js
Labels: frontend, backend

#39 refactor: :hammer: observer 패턴, controller, 각 컴포넌트 별 구독 로직 변경 #38
  backend/package-lock.json
  frontend/src/components/AccountHistory/index.js
  frontend/src/components/AccountHistoryInfo/Index.js
  frontend/src/components/Header/index.js
  frontend/src/components/Input/index.js
  frontend/src/controller/index.js
  frontend/src/pages/MainPage/index.js
  frontend/src/store/index.js
Labels: frontend

#46 feature/renderCorrectCalender 헤더의 날짜 변경 시, 달력 페이지 리렌더링 #41
  frontend/src/components/Calendar/index.js
  frontend/src/components/Calendar/index.scss
  frontend/src/components/DateBox/index.js
  frontend/src/components/DateBox/index.scss
  frontend/src/components/TotalSum/index.js
  frontend/src/pages/CalendarPage/index.js
  frontend/src/pages/CalendarPage/index.scss
  frontend/src/utils/dataProcessing.js
Labels: frontend

#48 Feature/account history create
  frontend/src/api/accountHistory.js
  frontend/src/assets/images/plus.svg
  frontend/src/components/AccountHistoryInput/index.js
  frontend/src/components/AccountHistoryInput/index.scss
  frontend/src/components/Dropdown/index.js
  frontend/src/pages/MainPage/index.js
Labels: frontend

#63 fix / init Subscribers
  frontend/src/controller/index.js
  frontend/src/router/index.js
Labels: frontend

#65 feature / make StatisticsPage History
  frontend/src/components/AccountHistory/index.js
  frontend/src/pages/StatisticsPage/index.js
  frontend/src/pages/StatisticsPage/index.scss
Labels: frontend

#69 Fix: :bug: 내역이 없는 달 선택시 에러가 뜬 이슈 해결 #68
  frontend/src/components/AccountHistory/index.js
  frontend/src/pages/StatisticsPage/index.js
Labels: bug, frontend

#71 Feature/make bundle file
  backend/src/app.js
  frontend/webpack.common.js
Labels: frontend

#72 Fix: :bug: 월이 정상적으로 변경되도록 수정 #70
  frontend/src/api/accountHistory.js
  frontend/src/components/Header/index.js
  frontend/src/utils/common.js
Labels: bug, frontend
